<div class="container">
  <div class="tool">
    <h1 class="center-text"><%= @tool.title.capitalize %></h1>
  </div>
</div>



 <% if @tool.user != current_user %>
 <%= render 'tools/new_reservation', tool: @tool, reservation: @reservation %>
 <% end %>
