// Define variables for your color scheme

// For example:
$red: #CC1800;
$blue: #0D3B66;
$light-blue: rgba(0, 99, 204, 0.2);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #1F1F1F;
$light-gray: #F5F5F5;


.blue {
  background-color: $blue;
}
