// Import page-specific CSS files here.
@import "home";
@import "show";
@import "reservations";

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
