<div class="footer d-flex align-items-center justify-content-between">
  <p>Tools<span style='font-size:1.5em; color: #CC1800'> 4 </span>Fools</p>
  <p> Powered By
    <img src="https://res.cloudinary.com/yowfactor/image/upload/c_limit,w_150/v1612610558/il_570xN.1890015774_lfgs_lv1tji.jpg" alt="">
  </p>
  <div>
    <i class="fab fa-pinterest-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
  </div>
</div>
