<div class="footer d-flex align-items-center justify-content-between">
  <p>Tools<span style='font-size:1.5em; color: #CC1800'> 4 </span>Fools</p>
  <div>
    <i class="fab fa-pinterest-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
  </div>
</div>
