<div class="footer d-flex align-items-center justify-content-between">
  <%= link_to 'TOOLS-4-FOOLS', root_path, id: 'brand' %>
  <div>
    <i class="fab fa-pinterest-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
  </div>
</div>
