<div class="banner">
  <div class="container">
    <h1>Be a fool and rent a tool</strong>!</h1>
    <p>Renting tools from locals foolishly cheap!</p>
    <%= link_to 'Find offers', tools_path, class: 'btn btn-primary' %>
  </div>
</div>
