.banner {
  background-image: linear-gradient(rgba(31,31,31,0.6),rgba(31,31,31,0.6)), image-url('tools-1.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  .banner-content {
    text-align: center;
    margin: auto;
  }
  .banner-search {
    width: 600px;
    margin: auto;
  }
}

.banner h1 {
  color: $light-gray;
  font-size: 48px;
  text-align: center;
}

.banner p {
  font-size: 24px;
  color: $light-gray;
  text-align: center;
  margin-bottom: 50px;
}

