.card-trip {
  overflow: hidden;
  background: rgba(229, 229, 229, 1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 300px;
  height: 400px;
  position:relative;
}

.card-trip > a > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  transition: 0.1s;
  &:hover {
    opacity: 0.7;
  }
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-weight: bold ;
  font-size: 24px ;
  color: $red ;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px dotted rgba(0,0,0,0.2);
}

.card-trip-infos .card-location {
//   position: absolute;
//   top: 110px;
//   width: 40px;
align-self: flex-start;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  margin-bottom:3em;
}

.rvp-cards-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 2em;
  margin-bottom:3em;
  justify-items: center;

}

.card-title {
  color: $blue;
}

// .card-location {
//   align-self: flex-end;
// }

.card-rvp-info {
  width: 100%;
  text-align: center;
  margin: 1em auto;
  th, td {
    width: 20%;
    text-align: start;
  }
}

.horizontal-card {
  border: solid 1px rgba(0,0,0,0.2);
  display:flex;
  // width: 100%;
  margin-bottom: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.table-head {
  border-bottom: solid 1px rgba(0,0,0,0.2);
  font-size: 24px;
  color: $blue;
}


.card-bottom {
  position: absolute;
  bottom: 30px;
  right: 12px;
  i {
  color: $blue;
  font-size: 1.3em;
  }
  p {
  color: $blue;
  opacity: 1;
  display: inline;
  }
}

.card-price {
  font-weight: bold ;
  font-size: 24px ;
  color: $red ;
}
