
.info {
  width: 260px;
  height: 260px;
  border-radius: 130px;
  color: $blue;
  background-color: $light-gray;
  box-shadow: 2px 2px 5px rgba(31, 31, 31, 0.25);
  text-align: center;
  margin: 70px 0px;
  i {
    font-size: 70px;
    color: $blue;
    margin-top: 70px;
  }
  h3 {
    margin-top: 20px;
  }
}
